<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974336472313-1cdfj0n7hnke1ogqhgg1ooff1qih0fql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974336472313-1cdfj0n7hnke1ogqhgg1ooff1qih0fql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974336472313-lc7dd5so55573u06tcnnbt3s81h275k6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQbAi1DUKsYJQgl4kpztvysP13_csBk-M</string>
	<key>GCM_SENDER_ID</key>
	<string>974336472313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urfine</string>
	<key>PROJECT_ID</key>
	<string>urfine-c2b87</string>
	<key>STORAGE_BUCKET</key>
	<string>urfine-c2b87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974336472313:ios:5f976f2512148e081ede28</string>
</dict>
</plist>